<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
  <depends plugin-name="com.iver.cit.gvsig"/>
  <depends plugin-name="com.iver.cit.gvsig.geoprocess"/>
   <depends plugin-name="org.gvsig.remotesensing"/>
   <depends plugin-name="org.gvsig.rastertools"/>
  <libraries library-dir="."/>
  <resourceBundle name="text"/>
  <extensions>
    <extension class-name="es.unex.sextante.gvsig.extensions.SextanteToolboxExtension"
	       description="SEXTANTE Toolbox"
	       active="true">
        <menu text="SEXTANTE/SEXTANTE_Toolbox"
                                tooltip="SEXTANTE_Toolbox"
                                icon="images/sextante.gif"
                                position="1"/>
      <tool-bar name="SEXTANTE" position="2">
	<action-tool icon="images/sextante.gif" tooltip="SEXTANTE_Toolbox" position="1"/>
      </tool-bar>
    </extension>
    <extension class-name="es.unex.sextante.gvsig.extensions.SextanteModelerExtension"
               description="Modeler"
               active="true">
        <menu text="SEXTANTE/SEXTANTE_Modeler"
                                tooltip="SEXTANTE_Modeler"
                                icon="images/model.png"
                                position="2"/>
      <tool-bar name="SEXTANTE" position="2">
        <action-tool icon="images/model.png" tooltip="SEXTANTE_Modeler" position="2"/>
      </tool-bar>
    </extension>

    <extension class-name="es.unex.sextante.gvsig.extensions.SextanteHistoryExtension"
               description="History"
               active="true">
        <menu text="SEXTANTE/SEXTANTE_History"
                                tooltip="SEXTANTE_History"
                                icon="images/history.gif"
                                position="3"/>
      <tool-bar name="SEXTANTE" position="2">
        <action-tool icon="images/history.gif" tooltip="SEXTANTE_History" position="4"/>
      </tool-bar>
    </extension>
    <extension class-name="es.unex.sextante.gvsig.extensions.SextanteCommandLineExtension"
               description="SEXTANTE_command_line"
               active="true">
      <menu text="SEXTANTE/SEXTANTE_command_line"
                                tooltip="SEXTANTE_command_line"
                                icon="images/terminal.png"
                                position="4"/>
      <tool-bar name="SEXTANTE" position="2">
        <action-tool icon="images/terminal.png" tooltip="SEXTANTE_command_line" position="3"/>
      </tool-bar>
    </extension>
    <extension class-name="es.unex.sextante.gvsig.extensions.SextanteAdditionalResultsExtension"
               description="Results"
               active="true">
        <menu text="SEXTANTE/SEXTANTE_Results"
                                tooltip="SEXTANTE_Results"
                                icon="images/chart.gif"
                                position="5"/>
      <tool-bar name="SEXTANTE" position="2">
        <action-tool icon="images/chart.gif" tooltip="SEXTANTE_Results" position="5"/>
      </tool-bar>
    </extension>
    <extension class-name="es.unex.sextante.gvsig.extensions.SextanteDataExplorerExtension" description="SEXTANTE Data Explorer" active="true">
      <menu text="SEXTANTE/SEXTANTE_Data_Explorer"
                                tooltip="SEXTANTE_Data_Explorer"
                                icon="images/documenter.png"
                                position="6"/>
      <tool-bar name="SEXTANTE" position="2">
        <action-tool icon="images/documenter.png" tooltip="SEXTANTE_Data_Explorer" position="7"/>
      </tool-bar>
    </extension>

        <extension class-name="es.unex.sextante.gvsig.extensions.SextanteHelpExtension" description="SEXTANTE Help" active="true">
      <menu text="SEXTANTE/SEXTANTE_Help"
                                tooltip="SEXTANTE_Help"
                                icon="images/help.png"
                                position="7"/>
      <tool-bar name="SEXTANTE" position="2">
        <action-tool icon="images/help.png" tooltip="SEXTANTE_Help" position="8"/>
      </tool-bar>
    </extension>

    <extension class-name="es.unex.sextante.gvsig.extensions.SextantePointCollectorExtension" description="Catch coordinates" active="true">
      <tool-bar name="SEXTANTE" position="2">
        <action-tool icon="images/bullseye.gif" tooltip="Catch coordinates" position="8"/>
      </tool-bar>
    </extension>
    <extension class-name="es.unex.sextante.gvsig.extensions.SextanteAboutExtension" description="" active="true">
    </extension>
  </extensions>
</plugin-config>
